<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin" method="POST">
        <input type="text" name="search" placeholder="搜索"/>
        <input type="submit"/>     
    </form>
    <input name="title" type="button" value="add" id="add_button">
    <table>
        <% for (var o of data){
            %>
            <tr>
                <td><%=o.id %></td>
                <td><%=o.title %></td>
                <td><%=o.location %></td>
                <td><%=o.number %></td>
                <td><%=o.nmessage %></td>
                <td>
                    <input type="button" class="u" value="修改" data_id="<%=o.id %>"/>
                    <input type="button" class="d" value="删除" data_id="<%=o.id %>"/>
                </td>
            </tr>
            <% }%>

    </table>
    <script>
        document.getElementById("add_button").onclick = function(){
            window.location.href='/admin/add';
        }
        Array.from(document.getElementsByClassName("u")).forEach(i =>{
            i.onclick = function(){
                window.location.href="/admin/update/"+this.getAttribute('data_id');
            }
        })
        </script>
</body>
</html>