<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/examples.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/slider-pro.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="/stylesheets/owl.theme.css" type="text/css" media="all">
    <link href="/stylesheets/nav.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <div id="example1" class="slider-pro">

        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="images/blank.gif" data-src="images/banner1.jpg" alt=" " data-retina="images/banner1.jpg" />

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    计算机类免费公开课
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                    data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    提供顶尖的教育资源/名师课程/短期学会计算机
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                    data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                    1：算法设计与问题求解. 2:大数据基础与应用. 3:C语言程序设计进阶等优质课程资源
                </p>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="images/blank.gif" data-src="images/banner2.jpg" alt=" " data-retina="images/banner2.jpg" />

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    外语教育技术
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                    data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    案例式/系统化/短平快/学科化/前瞻性
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                    data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                    1：大学日语提高篇 2：四级急速通关 3：海外留学英语等优质课程资源
                </p>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="images/blank.gif" data-src="images/banner3.jpg" alt=" " data-retina="images/banner3.jpg" />

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    Free Online Training Courses
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                    data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    Consectetur adipisicing elit
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                    data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="images/blank.gif" data-src="images/banner4.jpg" alt=" " data-retina="images/banner4.jpg" />

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    Lorem ipsum dolor sit amet
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                    data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    Consectetur adipisicing elit
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                    data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="images/blank.gif" data-src="images/banner5.jpg" alt=" " data-retina="images/banner5.jpg" />

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    Lorem ipsum dolor sit amet
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                    data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    Consectetur adipisicing elit
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                    data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="images/blank.gif" data-src="images/banner3.jpg" alt=" " data-retina="images/banner3.jpg" />

                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left">
                    Free Online Training Courses
                </h3>

                <p class="sp-layer sp-white sp-padding hide-medium-screen" data-horizontal="40" data-vertical="22%" data-show-transition="left"
                    data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                    Consectetur adipisicing elit
                </p>

                <p class="sp-layer sp-black sp-padding hide-small-screen" data-horizontal="40" data-vertical="34%" data-width="350" data-show-transition="left"
                    data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

                </p>
            </div>

        </div>

        <div class="sp-thumbnails">
            <div class="sp-thumbnail"></a>
                <div class="sp-thumbnail-title"><a href="https://www.icourse163.org/channel/3002.htm" target="_blank" rel="noopener noreferrer">计算机类</div>
                <div class="sp-thumbnail-description">掌握计算机科学理论基础，学习各种语言</div>
            </div>

            <div class="sp-thumbnail">
                <div class="sp-thumbnail-title"><a href="https://www.icourse163.org/channel/2002.htm" target="_blank" rel="noopener noreferrer">外语类</div>
                <div class="sp-thumbnail-description">用外语打开世界的窗户</div>
            </div>
            
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-title"><a href="https://www.icourse163.org/channel/3007.htm" target="_blank" rel="noopener noreferrer">心理学类</div>
                <div class="sp-thumbnail-description">更好处理人际关系、教育、人员选拔等问题</div>
            </div>

            <div class="sp-thumbnail">
                <div class="sp-thumbnail-title"><a href="https://www.icourse163.org/channel/3006.htm" target="_blank" rel="noopener noreferrer">艺术设计类</div>
                <div class="sp-thumbnail-description">通过造型及其组合，控制欣赏者的观赏运动，以达到宜人的目的</div>
            </div>

            <div class="sp-thumbnail">
                <div class="sp-thumbnail-title"><a href="https://www.icourse163.org/channel/3004.htm" target="_blank" rel="noopener noreferrer">经济管理类</div>
                <div class="sp-thumbnail-description">解决资源的合理配置和充分利用问题</div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-title"><a href="https://www.icourse163.org/channel/14001.htm" target="_blank" rel="noopener noreferrer">体育运动类</div>
                <div class="sp-thumbnail-description">生命在于运动</div>
            </div>

        </div>
        <!--/nav-->
        <div class="top_nav">
            <h1>
                <a class="logo" href="./index">Collegian</a>
            </h1>
            <div class="top-btns">
                <div class="sign-btn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-lock"></i> <a href ="/login" >Sign In</a></a>
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter2">
                        <i class="far fa-user"></i><a href ="/register" >Register</a></a>
                </div>
            </div>
            <div class="container-btn" id="btn">
                <div class="text">Menu</div>
                <div id="bars">
                    <div class="bar first"></div>
                    <div class="bar second"></div>
                    <div class="bar third"></div>
                </div>
            </div>


            <!-- top-overlay -->
            <div class="top-overlay fade-out" id="menu">
                <nav class="top-overlay-content" id="nav">
                    <span class="top-overlay-close" id="close-btn"> &times; </span>
                    <div class="container" id="container">
                        <div class="first-nav text-center">
                            <ul class="first-nav text-center">
                            <li><a href="./index" class="active">Home</a></li>
                            <li><a href="./about">About</a></li>
                            <li><a href="./team">Team</a></li>
                            <li><a href="./gallery" class="dropdown">Gallery</a></li>
                              
                            <li class="dropdown">
                              <button class="dropbtn">Dropdown <i class="fas fa-angle-down"></i></button>
                              <div class="dropdown-content">
                                <a href="./gallery">Gallery</a>
                                <a href="./404">Error</a>
                                 <a href="./service">Services</a>
                              </div>
                            </li>
                            <li><a href="./contact">Contact</a></li>
                        </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--//nav-->
        </div>
    </div>
    <!---->
    <!--banner-bottom-w3layouts-->
    <section class="banner-bottom-w3layouts py-md-5 py-4">
        <div class="container">
            <div class="inner-sec-wthree-w3ls py-md-5 py-4">
                <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                    <span>访问</span>欢迎来到我们的网站</h3>
                <div class="row mt-5">
                    <div class="col-lg-6 about-img">
                        <img src="images/g1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 aboutright">
                        <h3>教育是基础</h3>
                        <h3>我们建立我们的未来.</h3>
                        <h4>教育本应回归它最初的意义</h4>
                        <p>网站创建背景：当前网上已经有许多免费教育资源（如文字资料、实验视频、课堂教学视频、学习动漫、学习游戏、练习题、考试题等），
                            但这些资源缺少系统性、完整性。随着教学手段现代化水平的逐步提高，多媒体、电子白板等现代化工具逐渐推广，但缺少的是配套资源。因此，建立一个系统完整的公共免费有偿教育配套资源是十分必要的. 
                        </p>
                        <div class="read inner mt-4">
						<a href="./about" class="btn btn-sm animated-button victoria-two">阅读更多</a>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//banner-bottom-w3layouts-->
    <section class="course-selection py-lg-5 py-md-4 py-4">
        <div class="layer-transporant py-md-5 py-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 course-left">
                        <h3 class="course">
                            发车啦！！！
                            <br> 这个夏天
                        </h3>
                        <p class="para my-4">
                            名校网红课
                            蹭课指南
                            线下选不到，线上免费学
                        <div class="row course-details-content">
                            <div class="col course-detials-inner-info">

                                <a href="#">
                                    <h4>专家讲师</h4>
                                </a>
                                <p>
                                    翁恺
                                </p>
                            </div>
                            <div class="col course-detials-inner-info">

                                <a href="#">
                                    <h4>认证</h4>
                                </a>
                                <p>
                                   计算机博士，浙江大学计算机学院教师，ACM-ICPC优秀教练奖得主，2011 世界总决赛金牌教练。主讲包括C、C++、java程序设计等课程。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 course-right">
                        <form action="#" method="post">
                            <h4 class="text-white text-center mb-3">搜索可用课程</h4>
                            <input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
                            <input type="text" class="form-control" name="phone" placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
                            <input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
                            <select class="form-control option">
                                <option><a href="https://www.icourse163.org/channel/3002.htm">计算机类</a></option>
                                <option><a href="https://www.icourse163.org/channel/2002.htm">外语类</a></option>
                                <option><a href="https://www.icourse163.org/channel/3007.htm">心理学类</a></option>
                                <option><a href="https://www.icourse163.org/channel/3006.htm">艺术设计类</a></option>
                                <option><a href="/index">经济管理类</a></option>
                                <option><a href="/index">体育类</a></option>
                            </select>
                            <input class="form-control mt-3" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--banner-bottom-w3layouts-->
    <!--//courses-->
    <section class="banner-bottom-w3layouts py-lg-5 py-lg-4 py-4">
        <div class="container">
            <div class="inner-sec-wthree-w3ls py-lg-4 py-4">
                <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                    <span>Visit</span>探索新课程</h3>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="images/g3.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">学习设计
                                    </h5>
                                    <p class="card-text">
                                        <i class="fas fa-map-marker-alt"></i> 英国</p>
                                        <ul class="property-box">
                                            <li class="field-item text-left">
                                                
                                                <i class="fas fa-users"></i> 195 </li>
                                            <li class="field-item text-right">
    
                                                <i class="far fa-comments"></i> 26 </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="images/g1.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">学习摄影
                                    </h5>
                                    <p class="card-text">
                                        <i class="fas fa-map-marker-alt"></i> 纽约</p>
                                        <ul class="property-box">
                                            <li class="field-item text-left">
                                                
                                                <i class="fas fa-users"></i> 155 </li>
                                            <li class="field-item text-right">
    
                                                <i class="far fa-comments"></i> 15 </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="images/g2.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">学习绘画
                                    </h5>
                                    <p class="card-text">
                                        <i class="fas fa-map-marker-alt"></i> 中国北京</p>
                                        <ul class="property-box">
                                            <li class="field-item text-left">
                                                
                                                <i class="fas fa-users"></i> 155 </li>
                                            <li class="field-item text-right">
    
                                                <i class="far fa-comments"></i> 25 </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="images/g4.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">学习医学
                                    </h5>
                                    <p class="card-text">
                                        <i class="fas fa-map-marker-alt"></i> 中国上海</p>
                                        <ul class="property-box">
                                            <li class="field-item text-left">
                                                
                                                <i class="fas fa-users"></i> 255 </li>
                                            <li class="field-item text-right">
    
                                                <i class="far fa-comments"></i> 15 </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="images/g5.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">学习法学
                                    </h5>
                                    <p class="card-text">
                                        <i class="fas fa-map-marker-alt"></i> 中国西安</p>
                                        <ul class="property-box">
                                            <li class="field-item text-left">
                                                
                                                <i class="fas fa-users"></i> 395 </li>
                                            <li class="field-item text-right">
    
                                                <i class="far fa-comments"></i> 25 </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="images/g6.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">学习工学
                                    </h5>
                                    <p class="card-text">
                                        <i class="fas fa-map-marker-alt"></i> 广州</p>
                                    <ul class="property-box">
                                        <li class="field-item text-left">
                                            
                                            <i class="fas fa-users"></i> 355 </li>
                                        <li class="field-item text-right">

                                            <i class="far fa-comments"></i> 25 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--//courses-->
      <!--//courses-->

      <!-- <section class="stats_test container-fluid">
		<div class="row inner-sec-wthree-w3ls">
			<div class="col-sm-4 col-6 py-5 stats_info counter_grid">
				<i class="far fa-building"></i>
				<p class="counter">145</p>
				<h4>分支</h4>
			</div>
			<div class="col-sm-4 col-6 py-5 stats_info counter_grid1">
				<i class="far fa-edit"></i>
				<p class="counter">563</p>
				<h4>项目</h4>
			</div>
			<div class="col-sm-4 col-6 py-5 stats_info counter_grid2">
				<i class="far fa-smile"></i>
				<p class="counter">1045</p>
				<h4>快乐用户</h4>
			</div>
		</div>
    </section>
    
    //courses -->
      <!--/news-->
        <section class="offer-service-w3ls py-md-5 py-4">
        <div class="container">
            <div class="inner-sec-wthree-w3ls py-md-5 py-4">
                <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                    <span>我们提供</span>你在寻找什么？ </h3>
                <div class="row">
                    <div class="col-lg-4 service-in text-center">
					<div class="card">
						<div class="card-body">
							<i class="fab fa-react"></i>
							<h5 class="card-title">巨型图书馆</h5>
							<p class="card-text">书籍是人类进步的阶梯，网络图书馆，提供免费网上阅读机会，让图书随时随地可以看
							</p>
						</div>
					</div>
				</div>
                    <div class="col-lg-4 service-in text-center">
                        <div class="card">
						<div class="card-body">
							<i class="fas fa-flask"></i>
							<h5 class="card-title">科幻</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
                       
                    </div>
                       <div class="col-lg-4 service-in text-center">
                        <div class="card">
						<div class="card-body">
							<i class="fas fa-music"></i>
							<h5 class="card-title">学习音乐</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
                       
                    </div>
                     <div class="col-lg-4 service-in text-center">
                        <div class="card">
						<div class="card-body">
							<i class="fas fa-pencil-alt"></i>
							<h5 class="card-title">平面设计</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
                       
                    </div>
                     <div class="col-lg-4 service-in text-center">
                        <div class="card">
						<div class="card-body">
							<i class="fab fa-wordpress-simple"></i>
							<h5 class="card-title">网络安全</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
                       
                    </div>
                     <div class="col-lg-4 service-in text-center">
                        <div class="card">
						<div class="card-body">
							<i class="fas fa-chart-line"></i>
							<h5 class="card-title">统计学</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--//news-->
     <!--/events-->
    <section class="banner-bottom-w3layouts bg-light py-md-5 py-4">
        <div class="container">
            <div class="inner-sec-wthree-w3ls py-md-5 py-4">
                <h3 class="tittle-w3l text-center mb-lg-5 mb-3">
                    <span>访问</span>即将举办的活动 </h3>
                <div class="row choose-main ">
                    <div class="col-lg-6 galsses-grid-right">
                        <h5>
                            <span class="post-color">21</span> May 2021</h5>
                        <h4 class="post my-3">先锋演讲</h4>
                        <p> 事件：由江西软件大学的董事长亲自为大家演讲职业技术大学与普通大学区别！<br>
                            地点：江西软件职业技术大学。<br>
                            出席人物：陈苏，及该校学生和老师。<br>
                            意义：让学生明白职业大学与普通大学之间的区别！
                        </p>
                        <div class="read inner mt-4">
						<a href="./about" class="btn btn-sm animated-button victoria-two">阅读更多</a>
					</div>

                    </div>
                    <div class="col-lg-6 galsses-grid-right">
                        <div class="galsses-grid-left">
                            <figure class="effect-lexi">
                                <img src="images/g1.jpg" alt="" class="img-fluid">
                                <figcaption>
                                    <h3>Colle
                                        <span>gain</span>
                                    </h3>


                                    <p>Learn Something</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row choose-main my-lg-5 my-3">
                    <div class="col-lg-6 galsses-grid-right">
                        <div class="galsses-grid-left">
                            <figure class="effect-lexi">
                                <img src="images/g2.jpg" alt="" class="img-fluid">
                                <figcaption>
                                    <h3>Colle
                                        <span>gain</span>
                                    </h3>
                                    <p>Learn Something</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 galsses-grid-right mt-5">

                        <h5>
                            <span class="post-color">21</span> May 2021</h5>
                        <h4 class="post my-3">技能大比武</h4>
                        <p>事件：区块链学院针对全校学生开展的学习技术比拼。<br>
                           地点：江西软件职业技术大学区块链学院。<br>
                           出席人物：已报名学生，评委老师。<br>
                           意义：将学习的知识化为实践操作，培养学生自我学习能力，让学生养成终身学习习惯，将优秀学生从中选拔出来！<br>
                        </p>
                        <div class="read inner mt-4">
						<a href="./about" class="btn btn-sm animated-button victoria-two">阅读更多</a>
					</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--//events-->
   				<!-- /testimonials -->
				<div class="testimonials py-lg-5 py-4">
					<div class="testimonials-inner py-lg-4 py-3">
						<h3 class="tittle-w3l text-center my-lg-4 mt-3">Tesimonials</h3>
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<div class="testimonials_grid text-center">
                                        <i class="fab fa-twitter"></i>
										<h3>Anamaria
											<span>Customer</span>
										</h3>
										<label>United States</label>
										<p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque nisl nibh vel lacus.
											Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="testimonials_grid text-center">
                                        <i class="fab fa-twitter"></i>
										<h3>Esmeralda
											<span>Customer</span>
										</h3>
										<label>United States</label>
										<p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque nisl nibh vel lacus.
											Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="testimonials_grid text-center">
                                        <i class="fab fa-twitter"></i>
										<h3>Gretchen
											<span>Customer</span>
										</h3>
										<label>United States</label>
										<p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque nisl nibh vel lacus.
											Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
									</div>
								</div>
								<a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
									<span class="fas fa-long-arrow-alt-left"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
									<span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>

								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- //testimonials -->

    <!-- footer -->
<section class="footer py-5">
	<div class="footer-top-w3layouts py-lg-3">
		<div class="container">
			<div class="row footer-grids">
				<div class="col-lg-4 col-md-6 footer-grid text-left">
					<div class="footer-logo">
						<h3 class="mb-3"><a class="logo" href="./index">Collegian</a></h3>
						<p>Lorem ipsum dolor sit amet int consectetur elit. Nam eget init egestas erat. In hachabi tasse platea dictumst. hachabi elit tasse platea dictumst eget init egestas.</p>
						<ul class="social mt-lg-0 mt-3">
					<li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					
				</ul>
					</div>
				</div>
                <div class="col-lg-2 col-md-6 col-sm-5 mt-lg-0 mt-sm-5 mt-4 footer-grid links text-left">
					<h3 class="mb-4"> links </h3>
					<ul>
						<li>
							<a href="./index">Home</a>
						</li>
						<li>
							<a href="./about">About</a>
						</li>
						<li>
							<a href="./404">Blog</a>
						</li>
						<li>
							<a href="./gallery">Gallery</a>
						</li>
						<li>
							<a href="./contact">Contact Us</a>
                        </li>
					</ul>
				</div>
                <div class="col-lg-3 col-md-6 col-sm-7 mt-lg-0 mt-sm-5 mt-4 footer-grid links text-left">
					<h3 class="mb-4">contact Us </h3>
					<ul>
						<li><strong>Address</strong> : 436 Jasmin lee hall, Cross road, NewYork City Vl049.</li>
						<li><strong>mobile</strong> : +01(24) 3212 9436</li>
						<li><strong>phone</strong> : +01(24) 8543 8088</li>
						<li><strong>Mail</strong> : <a href="mailto:info@example.com">info@example.com</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-4 edu-footer-grid text-left">
					<h3 class="mb-4">Subscribe Now </h3>
					<form action="#" method="post">
						<input type="text" name="text" placeholder="Name" required="">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>


			</div>
		</div>
	</div>
</section>
<!-- //footer -->

<!-- copyright -->
<div class="copy_right_w3ls py-4 text-center">
    <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	
</div>
<!-- //copyright -->


    <!--model-forms-->
    <!--/Login-->
    <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4"  href="./login">Login Now</h5> -->
                        <!-- <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Emailaddress</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
                            </p>
                        </form> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <!-- <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4" href="./register">Register Now</h5> -->
                        <!-- <form action="#" method="post">
                            <div class="form-group">
                                <label>Firstname</label>

                                <input type="text" class="form-control" name="Firstname" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Lastname</label>
                                <input type="text" class="form-control" name="Lastname" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" name="Password" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>ConfirmPassword</label>
                                <input type="password" class="form-control" name="ComfirmPassword" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form> -->

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->

    <!--//model-form-->

    <!-- js -->
    <script src="/javascripts/jquery-2.2.3.min.js"></script>
    <!-- menu -->
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <!-- //menu -->
    <!--slider-->
    <script src="/javascripts/jquery.sliderPro.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('#example1').sliderPro({
                width: 1980,
                height: 800,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 270,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: false,
                autoScaleLayers: false,
                breakpoints: {
                    500: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });
    </script>
    <!--//slider-->
    <!-- stats -->
		<script src="/javascripts/jquery.waypoints.min.js"></script>
		<script src="/javascripts/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
    <!-- //stats -->

    <!-- carousel -->
    <script src="/javascripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!-- //js -->
    <script src="/javascripts/bootstrap.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="/javascripts/move-top.js"></script>
    <script src="/javascripts/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
</body>

</html>